<ion-header>
  <ion-toolbar>
    <ion-title>profile page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

	 <app-loading *ngIf="!user"></app-loading>
<p>{{user.first_name}}</p>
	<div id="profile-info">
		 <ion-grid>
			<ion-row>
				<ion-col size="4" class="user-image">
					<ion-img src=`${{user.image}}`></ion-img>
				</ion-col>
				<ion-col size="8">

					<p>{{ user.first_name }}</p>
					<ion-button shape="round" color="primary" routerLink="/tabs/tab1">Edit Profile</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div> 


	<!-- <div id="images" *ngIf="posts">
		<div class="image" *ngFor="let post of posts">
			<img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/" />
		</div>
	</div> -->

</ion-content>